@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.eot");
  src: local("Geometria-Medium"), local("Geometria Medium"),
    url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria-Medium.woff") format("woff"),
    url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBold.eot");
  src: local("Geometria-ExtraBold"), local("Geometria ExtraBold"),
   url("../fonts/Geometria-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Geometria-ExtraBold.woff") format("woff"),
    url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Light.eot");
  src: local("Geometria Light"), local("Geometria-Light"),
    url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria-Light.woff") format("woff"),
    url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-LightItalic.eot");
  src: local("Geometria LightItalic"), local("Geometria-LightItalic"),
    url("../fonts/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria-LightItalic.woff") format("woff"),
    url("../fonts/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
body {
  font-family: "Geometria", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  color: #000000;
}
h1 {
  font-size: 64px;
  font-weight: 800;
  font-style: normal;
  color: #2a3589;
}
h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 40px;
  display: inline-block;
  background: white;
  letter-spacing: -2px;
  margin-left: -15px;
}
h3 {
  font-size: 32px;
  font-weight: 800;
  color: #2a3589;
}
h4 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}
h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}
input {
  background: #FFFFFF;
  border: 2px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Geometria", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 22px 20px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type="submit"] {
  height: auto;
}
input:focus {
border: 2px solid #338ABE;
}
input:first-child {
  margin-top: 0;
}
input:last-child {
  margin-bottom: 0;
}
textarea {
  width: 100%;
  font-family: "Geometria", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 22px 20px;
  margin-bottom: 20px;
  border: 2px solid #F2F2F2;
}
textarea:focus {
border: 2px solid #338ABE;
}
.header {
  background: #2a3589;
  box-shadow: 0px 6px 12px rgba(42, 53, 137, 0.25);
}
.navbar {
  padding: 0;
  padding-left: 210px;
  position: relative;
  height: 100%;
}
.navbar-brand {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
}
.navbar-nav {
  font-weight: 800;
  justify-content: space-between;
  width: 100%;
}
.header a {
  color: #ffffff;
  text-decoration: none;
}
.navbar-nav a {
  padding-bottom: 5px;
}
.navbar-nav a:hover {
  border-bottom: 2px solid #ffffff;
}
.header .btn {
  padding: 0;
}
.contact-row {
  margin-top: 25px;
  margin-bottom: 10px;
}
.header .btn-contact {
  text-decoration: underline;
}
.header .email {
  text-decoration: underline;
}
.header .btn {
  color: #ffffff;
  text-decoration: underline;
}
.header .btn:hover,
.header .btn:active,
.header .btn:focus {
  box-shadow: none;
}
.phone {
  margin-right: 18px;
}
.btn-contact {
  font-size: 12px;
  font-weight: normal;
  display: block;
  margin-left: auto;
}
.slider {
  margin-top: 35px;
  max-width: 1920px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide-duplicate {
  overflow: hidden;
}
.container-slider {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.container-slider img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 1920px;
}
.slider-text {
  font-size: 28px;
}
.swiper-slide h2 {
  font-size: 64px;
  font-weight: 800;
  font-style: normal;
  color: #2a3589;
  background: none;
  margin-bottom: 5px;
  margin-left: 0;
}
.slider-description {
  width: 388px;
  position: absolute;
  top: 30%;
  bottom: 50%;
  left: 25%;
  transform: translateY(-50%);
}
.programm {
  margin-top: 75px;
  position: relative;
  margin-bottom: 109px;
}

.programm-text {
  font-weight: 300;
}
.programm-offer {
  background: #2a3589;
  color: #ffffff;
  margin-top: auto;
  padding: 20px;
  padding-right: 0;
}
.programm-percent {
  background-color: #338abe;
  padding: 2px 5px;
}
.section-header {
  position: relative;
}
.programm::before,
.how-working::before,
.hypothec::before,
.faq::before,
.investment::before,
.about::before {
  content: "";
  display: block;
  height: 4px;
  background-color: #2a3589;
  top: 35px;
  right: 0;
  position: absolute;
  width: 70%;
  z-index: -1;
}
.programm-description {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;
}
.programm-img {
  padding-left: 0;
}
.how-working {
  position: relative;
  margin-bottom: 85px;
}

.how-working-text {
  margin-bottom: 40px;
  margin-left: -15px;
}
.steps {
  justify-content: space-around;
}
.steps-item {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  font-weight: 300;
  position: relative;
}

.steps-item::after {
  display: block;
  content: "";
  width: 20%;
  height: 2px;
  background-color: #2a3589;
  top: 25%;
  bottom: 50%;
  transform: translateY(-50%);
  right: -20%;
  position: absolute;
}
.steps-item:last-child::after {
  display: none;
}
.steps {
  margin-bottom: 45px;
}
.how-working-plus {
  display: block;
  margin-right: 20px;
  font-weight: 300;
  margin-bottom: 0;
  width: 52%;
}
.btn-veda,
.faq-form .btn-veda {
  background-color: #338abe;
  box-shadow: 0px 6px 12px rgba(34, 94, 130, 0.51);
  border-radius: 3px;
  color: #ffffff;
  padding: 17px;
  text-align: center;
  width: 270px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  border: none;
}
.btn-veda:hover,
.btn-veda:focus {
  background: #235E81;
box-shadow: 0px 3px 12px rgba(34, 94, 130, 0.51);
color: #ffffff;
border: none;
}
.btn-veda:active {
  background: #338ABE;
}
.how-working-request {
  justify-content: flex-end;
}
.hypothec {
  position: relative;
}
.hypothec-list {
  width: 58%;
  border: 10px solid #2a3589;
  padding: 30px;
  margin-left: 50px;
}
.hypothec .row {
  align-items: center;
  justify-content: center;
}
.hypothec-list h3 {
  color: #2a3589;
  margin-left: 44px;
}
.hypothec-list li {
  margin-bottom: 60px;
  padding-left: 43px;
  position: relative;
}
.hypothec-list li:last-child {
  margin-bottom: 0;
}
.hypothec-list li::after {
  content: "";
  display: block;
  width: 27px;
  height: 4px;
  background-color: #338abe;
  left: 0;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.hypothec-img {
  position: relative;
  left: -50px;
}
.faq {
  position: relative;
  top: -35px;
  margin-bottom: 80px;
}
.faq-list {
  padding-left: 97px;
  position: relative;
}
.faq-option {
  border: 10px solid #2A3589;
  width: 60%;
} 
.faq-list::before {
  content: "";
  display: block;
  width: 77px;
  height: 123px;
  background: url(../img/question.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.faq-list .faq-option-item{
  width: 100%;
  margin-bottom: 0;
  border-bottom: 2px solid #E0E0E0;
}
.faq-list .faq-option-item:last-child {
  border-bottom: 0;
}
.faq-list .faq-option-item label{
  padding: 15px;
  width: 100%;
  display: block;
  margin-bottom: 0;
  padding-right: 40px;
}
.faq-list input[type="radio"] {
  display: none;
}
.faq-list input[type="radio"]:checked ~ label {
  background: #338ABE;
}
.faq-list input[type="radio"]:checked ~ .faq-popup {
  display: block;
}

.faq-popup {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  z-index: 1;
  padding: 20px;
  width: 40%;
  min-height: 313px;
  display: none;
  right: 0;
  top: -15px;
  position: absolute;
}
.faq .row {
  align-items: center;
}
.faq-form {
  margin-left: 97px;
  line-height: 1.4;
}
.faq-form p {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}
.faq-form input {
  border: none;
  border-bottom: 2px solid #e0e0e0;
  width: 173px;
  margin-right: 20px;
  font-family: "Geometria", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 8px 0;
}
.faq-form .btn-veda {
  margin-right: auto;
}
.investment {
    position: relative;
    margin-bottom: 80px;
}
.investment-item {
  background: #ffffff;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-bottom: 20px;
}
.investment-item-header {
  background: #2a3589;
  border-radius: 3px 3px 0px 0px;
  padding: 17px 20px 9px 19px;
  text-align: center;
}
.investment-item-body {
  border: 2px solid #f2f2f2;
  padding: 17px 20px 38px 19px;
  background: url(../img/circle.svg) no-repeat center 30%;
}
.investment-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}
.investment-item-price {
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
}
.investment-item-body p {
  font-weight: 300;
}
.investment-item-body p:first-child {
  display: flex;
  justify-content: space-between;
}
.investment-item-body p span {
  font-size: 18px;
  font-weight: normal;
}
.investment-item-question {
  border-radius: 50%;
  background-color: #338abe;
  display: inline-block;
  width: 16px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.investment-item-body .investment-item-loan {
  font-weight: 800;
  font-size: 24px;
  color: #338abe;
}
.investment-item-body .investment-item-self {
  font-weight: 800;
  font-size: 24px;
  color: #2a3589;
}
.btn-investment {
  text-align: center;
  text-decoration-line: underline;
  color: #338abe;
  font-size: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-investment:focus,
.btn-investment:hover,
.btn-investment:active {
  border: none;
  box-shadow: none;
}
.investment-item-header-grey {
  background: #828282;
}
.investment-item-header-orange {
  background: #f2994a;
}
.investment-item-header-red {
  background: #eb5757;
}
.investment-item-header-purple {
  background: #7523c2;
}
.btn-investment-booked {
  text-decoration: none;
  color: #000000;
  pointer-events: none;
}
.btn-investment-sold {
  pointer-events: none;
}
.investment-item-sold .investment-item-body {
  background: #f2f2f2;
}
.investment-item-sold .btn-investment {
  text-decoration: none;
  color: #828282;
}
.investment-item-sold .investment-item-loan,
.investment-item-sold .investment-item-self {
  color: #828282;
}
.tooltip-inner {
  background-color: #fff;
  opacity: 1!important;
  color: #000000;
  border: 2px solid #F2F2F2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #fff !important;
}
.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #fff !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #fff !important;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #fff !important;
}
.about {
    position: relative;
    margin-bottom: 141px;
}
.about p {
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 23px;
}
.form {
    background: #2a3589;
    position: relative;
}
.form-img {
    position: absolute;
    top: -50px;
}

.form-wrapper {
    position: relative;
    margin-top: -61px;
    margin-left: auto;
    padding-bottom: 20px;
}
.form h2 {
    background: none;
    color: #2a3589;
    margin-left: 0;
}
.form p {
    color: #ffffff;
}

.form .btn-veda {
    width: 100%;
    margin-top: 0;
}
.footer {
    height: 490px;
}
.footer .container {
  position: relative;
}
.contact {
    background: #FFFFFF;
    border: 10px solid #2A3589;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    padding: 30px;
    position: absolute;
    top: 20px;
    z-index: 100;
}
.contact-item {
    padding-left: 40px;
    position: relative;
}
.contact-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    top: 0;
    left: 0;
}
.contact-item-phone {
    background: url("../img/phone-1.svg") no-repeat;
}
.contact-item-email {
    background: url("../img/envelope.svg") no-repeat;
}
.contact-item-address {
    background: url("../img/address.svg") no-repeat;
}
.contact-item-clock {
    background: url("../img/clock.svg") no-repeat;
}
.contact-item img {
    margin-right: 20px;
}
.contact-item span {
    font-weight: 300;
    display: block;
}
.contact-social a {
    margin-right: 20px;
}
.popup {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}
.popup-form {
  max-width: 768px;
  width: 67%;
  padding: 40px;
  padding-top: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
.popup-form h2 {
  margin: 0;
  color: #2A3589;
  width: 100%;
  text-align: center;
}
.popup-form p {
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 73%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.popup-form .row {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.popup-form .btn-veda {
  width: 100%;
  margin-top: 0;
}
.popup-wrapper {
  position: relative;
  padding-top: 15px;
  padding-right: 15px;
}
.popup-close {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  height: 17px;
  width: 17px;;
}
.popup-close:before,
.popup-close:after {
  position: absolute;
  left: 8px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #000000;
  top: 0px;
  }
  .popup-close:before {
    transform: rotate(45deg);
  }
  .popup-close:after {
    transform: rotate(-45deg);
  }
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%232A3589'%2F%3E%3C%2Fsvg%3E") !important;
	right: 15% !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%232A3589'%2F%3E%3C%2Fsvg%3E") !important;
	left: 15% !important;
}
.popup-investment {
  max-width: 768px;
  width: 67%;
}
.popup-investment .popup-wrapper {
  padding-right: 0;
  padding-top: 0;
}
.popup-investment-body {
  padding: 20px 100px 47px;
  background: #ffffff;
}
.popup-investment-body h5 {
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.popup-investment-form {
  margin-top: 15px;
}
.popup-investment-small {
  font-size: 12px;
  color: #BDBDBD;
}
.popup-investment-self {
  margin-top: auto;
}
.popup-investment-form label {
  padding-left: 40px;
  position: relative;
}
.popup-investment-form label::before {
  content: "";
  display: block;
  background: #ffffff;
  border: 2px solid #338ABE;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-investment-form input[type="radio"] {
  display: none;
}
.popup-investment-form input[type="radio"]:checked~label::before{
  background: #338ABE;
}
.popup-investment-form input[type="radio"]:checked~label::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 2px;
  background: url(../img/check.svg) no-repeat;
}
.popup-investment-body p {
  font-weight: 300;
}
.popup-investment span{
  font-weight: 800;
  font-size: 24px;
}
.popup-investment-loan span{
  color: #338abe;
}
.popup-investment-self span{
  color: #2A3589;
}
.popup-investment-body .btn-veda {
  width: 100%;
}
.popup-investment .investment-item-header {
  position: relative;
}
.popup-investment .popup-close {
  top: 20px;
  right: 20px;
}
.popup-investment .popup-close::before,
.popup-investment .popup-close::after {
  background: #FFFFFF;
}
#yandex-map {
  width: 100%;
  height: 100%;
}
.popup-thanks {
  width: 32%;
  max-width: 368px;
  padding: 40px 34px 21px;
  text-align: center;
}
.popup-thanks h2 {
  color: #2A3589;
  margin-bottom: 10px;
}
.popup-thanks .popup-wrapper {
  padding: 0;
}
.popup-thanks .btn-veda {
  width: 100%;
  max-width: 280px;
}
.veda-form .col-md-6{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.veda-form input {
  height: 64px;
  margin: 0;
}
.veda-form textarea {
  height: 148px;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 60px;
      }
      h2 {
        font-size: 45px;
      }
      h3 {
        font-size: 30px;
      }
    h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 16px;
    }
    .header .col-xl-4 {
        display: block;
    }

    .contact-row>div {
        text-align: right;
    }
    .navbar-brand {
        height: 110px;
    }
    .contact-row div:last-child {
        text-align: left;
    }
    .slider-description {
        left: 10%;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      right: 5% !important;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      left: 5% !important;
    }
    .programm::before,
    .how-working::before,
    .hypothec::before,
    .faq::before,
    .investment::before,
    .about::before {
      top: 25px;
    }
    .programm-offer {
        padding: 15px;
    }
    .hypothec-list {
        width: 50%;
    }
    .investment-item-body p span {
        font-size: 16px;
    }
    .investment-item-body {
        padding: 15px 15px 35px 15px;
    }
    .btn-investment {
        font-size: 20px;
    }
    .about p {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .form-img img {
        width: 98%;
    }
    .contact-social a {
        margin-right: 5px;
    }
    .popup-investment-body {
      padding: 20px 70px 47px;
    }
}
@media(max-width: 991px) {
    .header-contact {
        margin-left: auto;
    }
    .navbar {
        padding-left: 200px;
    }
    .navbar-brand img {
        width: 85%;
    }
    .container-slider img {
      width: 1700px;
    }
    .slider {
      margin-top: 10px;
    }
    .slider-description {
        left: 7%;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      right: 10px !important;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      left: 10px !important;
    }
    .programm-description {
        order: 2;
    }
    .programm-img {
        order: 1;
        text-align: center;
    }
    .programm-text {
        padding-left: 15px;
        margin-top: 15px;
    }
    .how-working-plus {
        width: 62%;
        margin-right: 0;
    }
    .hypothec-list {
        margin-left: 0;
    }
    .hypothec .row {
        justify-content: flex-start;
    }
    .hypothec-img {
        width: 50%;
    }
    .btn-veda {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
        padding: 13px;
        font-size: 18px;
    }
    .about-text {
        order: 2;
        margin-top: 20px;
    }
    .about-img {
        order: 1;
        text-align: center;
    }
    .form input {
        padding: 15px 10px;
    }
    .form textarea {
        padding: 15px 10px;
        min-height: 120px;
    }
    .form-img img {
        width: 87%;
    }
    .contact-social a {
        margin-right: 0;
    }
    .popup-form .row {
      width: 100%;
    }
    .popup-form {
      padding: 10px;
    }
    .faq-option {
      width: 54%;
      margin-bottom: 20px;
    }
    .faq-popup {
      padding: 10px;
      width: 44%;
      right: 0;
      top: -10px;
    }
    .faq-list .faq-option-item label {
      padding: 10px;
    }
    .popup-investment {
      width: 90%;
    }

    .popup-investment .btn-veda,
    .popup-form .btn-veda {
      margin-top: 0;
      padding: 20px;
    }
    .popup-thanks {
      width: 40%;
    }
    .veda-form input {
      height: 50px;
    }
    .veda-form textarea {
      height: 120px;
    }
}
@media(max-width: 767px) {
    h2 {
        font-size: 40px;
    }
    .navbar-header {
        width: 100%;
    }
    .navbar-nav li {
        margin-bottom: 5px;
    }
    .navbar-toggler {
        margin-left: auto;
        display: block;
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-dark .navbar-toggler {
        border: 1px solid #FFFFFF;
    }
    .navbar-brand img {
        width: 70%;
    }
    .navbar-nav li {
        margin-bottom: 5px;
        text-align: center;
    }
    .navbar {
        padding-left: 0;
    }
    
    .contact-row div {
        text-align: center;
        margin-bottom: 10px;
    }
    .btn-contact {
        margin-right: auto;
    }
    .contact-row div:last-child {
        text-align: center;
    }
    .slider {
        display: none;
    }
    .steps-item::after {
        display: none;
    }
    .how-working-plus {
        width: 100%;
    }
    .hypothec-list {
        padding: 5px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .hypothec-list li {
        margin-bottom: 20px;
    }
    .hypothec-img {
        display: none;
    }
    .hypothec {
        margin-bottom: 80px;
    }
    .faq-popup {
        display: none;
    }
    .faq-list {
        width: 90%;
    }
    .faq-form input[type="tel"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .form-img {
        display: none;
    }
    .form h2 {
      margin-left: -15px;
    }

    .faq-option {
      width: 100%;
    }
    .faq-popup {
      position: static;
      width: 100%;
      min-height: auto;
    }
    .faq-form {
      margin-left: 0;
    }
    .faq-form form {
      text-align: center;
    }
    .popup-investment input[type="tel"],
    .popup-form  input[type="tel"]{
      margin-bottom: 20px;
    }
    .popup-thanks {
      width: 50%;
    }
    .veda-form input {
      margin-bottom: 20px;
    }
    .how-working-request {
      justify-content: flex-start;
    }
    .faq-popup p:last-child {
      margin-bottom: 0;
    }
}
@media(max-width: 575px) {
  h2 {
    margin-left: 0;
    font-size: 25px;
    text-align: center;
    width: 100%;
  }
  h3 {
    font-size: 20px;
  }
  .how-working-text {
    margin-left: 0;
  }
  .how-working-plus {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .faq-form {
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    background: none;
  }
  .navbar-collapse {
    margin-top: 60px;
  }
  .header-contact {
    margin-top: 50px;
  }
  .programm-img {
    padding-left: 0;
    padding-right: 0;
  }
  .programm::before,
  .how-working::before,
  .hypothec::before,
  .faq::before,
  .investment::before,
  .about::before {
    display: none;
  }
  .hypothec-list {
    width: 90%;
  }
  .faq-list {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .faq-list::before {
    display: none;
  }
  .faq-form input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px
  }
  .about-img {
    padding-left: 0;
    padding-right: 0;
  }
  .popup-form {
    width: 90%;
  }
  .investment-item-header {
    padding-left: 5px;
  }
  .popup-investment-body {
    padding: 20px;
  }
  .contact {
    padding: 5px;
    left: 0;
    position: static;
    box-shadow: none;
  }
  .footer {
    height: auto;
  }
  .footer .container {
    padding: 0;
  }
  #yandex-map {
    display: none;
  }
  .popup-thanks {
    width: 90%;
  }
}